body {
    background-color: black;
    color: white;
}

.instructivo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.instructivo div {
    width: 33%;
}

.datos div {
    width: fit-content;
}

.color_enviado {
    display: flex;
}

.color_enviado div {
    width: 50%;
}

.ingreso_color {
    display: flex;
    justify-content: space-around;
}

.codes {
    display: flex;
}

.codes div input {
    background-color: white;
    color: gray;
}